body{
    background-color: rgb(146, 113, 41);
  }
  .imgRedonda {
    display: block;
    margin:auto;
    width:300px;
    height:300px;
    border-radius:150px;
    
} 
footer{
  text-align: center;
}